/* resset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(208, 187, 255);
    color: rgb(36, 34, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



.container {
    background-color: rgb(255, 152, 233);
    display: flex;

}

/* flex-Shrink

   Es una propiedad que ajusta el factor de estrechamiento "aplastar" de los elemtentos. 

   flex-shrink: 1 -> Este es valor por default. Recibe valores numericos: 1.2.3.4...Enttre más grande sea el numero mayor sera su factor de decrecimiento.
   

*/

.item {
    flex-basis: 300px; /* Ancho. el valor por flex-direction:coluim */
    flex-shrink: 1; /*  Este es el valor por default */
    background-color: rgb(74, 74, 126);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
}


/*  calses para los items */
.apachurro1{
flex-grow: 1;
flex-shrink: 1;
}

.apachurro2{
flex-grow: 2;
flex-shrink: 2;
}
.apachurro3 {
flex-grow: 3;
flex-shrink: 3;
}
.apachurro4 {
flex-grow: 4;
flex-shrink: 4;
}
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
}

.tuna {
    flex-grow: 1;
    background-color: rgb(255, 188, 214);
}

.change {
    flex-grow: 2; /* el item con etsa clse, crececon un factor de 2 */
    background-color: rgb(157, 255, 162);
}

.toby {
    flex-grow: 3;
    background-color: rgb(255, 213, 122);
}

.max {
    flex-grow: 4;
    background-color: aquamarine;
}
