/* resset básico */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(208, 187, 255);
    color: rgb(36, 34, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* 

Gap -> espacio entre los elementos.

Recibe valores numericos con uniddes relativas o absolutas

Esta propiedad se pasa al contenedor.

*/

.container {
    width: 500px;
    background-color: rgb(255, 152, 233);
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; /* espacio entre elementos */
    /* gap: 4rem; /* unidades apsolutas como */
    column-gap: 24px;
    /*  deja espacio entre los elementos vertical */
    row-gap: 32px;
    /* espacio entre los elemtos en horizonrtal */
    gap: 10px 32px; /* El primero es en espacio horizontal y el segundo en espacio vertical */

}


.item {
    width: 100px;
    height: 100px;

    background-color: rgb(74, 74, 126);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
}