/* resset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(208, 187, 255);
    color: rgb(36, 34, 51);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container {
    background-color: rgb(255, 152, 233);
    display: flex;

}

/* Propiedades de flexbox para los items

    Flex- grow -> Esta propiedad ajusta el factor del cresimiento de los lementos en funcion del espacio disponible. El valor por default es 'auto'.

    Esta porpiedad recibe valores numerico: 1,2,3...
    El numero que coloquemos es el valor que crecerá


*/
.item {

    flex-grow: auto;
    /* valor por default */
    flex-grow: 1;
    /*  Va hacer que todos los items crescan con el mimo factor */
    background-color: rgb(74, 74, 126);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 0);
}

.tuna {
    flex-grow: 1;
    background-color: rgb(255, 188, 214);
}

.change {
    flex-grow: 2; /* el item con etsa clse, crececon un factor de 2 */
    background-color: rgb(157, 255, 162);
}

.toby {
    flex-grow: 3;
    background-color: rgb(255, 213, 122);
}

.max {
    flex-grow: 4;
    background-color: aquamarine;
}